@charset "UTF-8";
.presentacion {
  background-color: #04080F;
  color: aliceblue;
}
.presentacion .inicio .titulo {
  text-align: center;
  padding: 40px;
  font-size: 40px;
  font-size: 60px;
  letter-spacing: 20px;
}
.presentacion .inicio img {
  display: block;
  margin: auto;
  height: 500px;
  width: 900px;
  padding-bottom: 50px;
}
.presentacion .container .introducionTitulo {
  margin-bottom: 30px;
  font-size: 40px;
}
.presentacion .bandaIntroducion {
  height: 700px;
  width: 317px;
  padding: 12% 10px 100px 20px;
}
@media screen and (max-width: 935px) {
  .presentacion .inicio img {
    height: 400px;
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .presentacion .inicio img {
    height: 300px;
    width: 300px;
  }
}

.MainIntegrantes {
  background-color: #04080F;
  overflow: hidden;
}
.MainIntegrantes .TituloIntegrantes {
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}
.MainIntegrantes .IntegrantesCaja,
.MainIntegrantes .IntegrantesCaja2 {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  width: 100%;
  animation: slide-in 1.5s forwards;
}
.MainIntegrantes .imgIntegrante {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}
.MainIntegrantes .IntegrantesTexto {
  padding-top: 40px;
}
.MainIntegrantes .IntegrantesCaja {
  animation-name: slide-left;
}
.MainIntegrantes .IntegrantesCaja2 {
  animation-name: slide-right;
}
@media screen and (max-width: 550px) {
  .MainIntegrantes .TituloIntegrantes {
    font-size: 30px;
  }
}

/*BIOGRAFIA*/
.SectionBiografia {
  background-color: #04080F;
  overflow: hidden;
}
.SectionBiografia .ContenedorDeBiografias {
  animation-name: slide-right;
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.SectionBiografia .ContenerdorBiografia {
  padding-bottom: 50px;
}

.InicioBiografia {
  display: block;
  text-align: center;
  animation-name: slide-left;
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.InicioBiografia .TituloBiografia {
  color: white;
  font-size: 60px;
  letter-spacing: 20px;
  padding: 20px 0px 50px 0px;
}
.InicioBiografia .InicioBiografiaImg {
  height: 400px;
  width: 700px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.ContenerdorBiografia .ImgBiografia {
  height: 300px;
  width: 600px;
}
.ContenerdorBiografia .InfoBiografia {
  color: white;
  padding-top: 90px;
  padding-right: 20px;
}

.ContenerdorBiografia .InfoBiografia2 {
  color: white;
  padding-top: 90px;
  padding-left: 30px;
}
.ContenerdorBiografia .ImgBiografia2 {
  height: 300px;
  width: 600px;
}

.ContenerdorBiografia .ImgBiografiaJuntas {
  height: 300px;
  width: 500px;
  padding: 40px 30px 0px 30px;
}
.ContenerdorBiografia .InfoBiografiaCentral {
  color: white;
  padding: 80px 200px 0px 200px;
}
.ContenerdorBiografia .InfoBiografiaCentral2 {
  color: white;
  padding: 0px 200px 70px 200px;
}

/*HITS*/
.SectionHits {
  background-color: #04080F;
}

.ContenedorHitGeneral {
  overflow: hidden;
}
.ContenedorHitGeneral .ContenedorHit1 {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-left;
}
.ContenedorHitGeneral .ContenedorHit2 {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-right;
}
.ContenedorHitGeneral .ContenedorHit2 .CajaHit2 {
  padding-left: 80px;
}
.ContenedorHitGeneral .ContenedorHit3 {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  display: flex;
  text-align: center;
}
.ContenedorHitGeneral .ContenedorHit3 .ParrafoMusical {
  padding-bottom: 40px;
}
.ContenedorHitGeneral .ContenedorHit3 .ImgHits {
  width: 900px;
}
.ContenedorHitGeneral .ContenedorHit4 {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-right;
}
.ContenedorHitGeneral .ContenedorHit5 {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-left;
  padding-bottom: 40px;
}

.TitulosHits .TituloHits {
  text-align: center;
  color: white;
  padding: 40px 0px 40px 0px;
  font-size: 60px;
  letter-spacing: 20px;
}

.ImgHits {
  height: 400px;
  width: 600px;
  padding: 20px 90px 20px 90px;
}

.TituloMusical {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 90px;
}

.ParrafoMusical {
  color: white;
  text-align: center;
  padding-top: 20px;
}

/*HISTORIA MUSICALES*/
.HistoriaMusicales {
  background-color: #04080F;
  color: white;
  overflow: hidden;
}
.HistoriaMusicales .TituloHM {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-right;
}
.HistoriaMusicales .TituloHM .TituloHistoriaMusical {
  text-align: center;
  font-size: 50px;
  padding: 40px 0 20px 0;
  letter-spacing: 10px;
}
.HistoriaMusicales .TituloHM .ParrafoHistoriaMusical {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.HistoriaMusicales .ContenerHistoria1 {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-left;
}
.HistoriaMusicales .ContenerHistoria1 .Contenedorimg {
  text-align: center;
}
.HistoriaMusicales .ContenedorHistoria2 {
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-right;
}
.HistoriaMusicales .ContenedorHistoria2 .ImgBandaHistoria2 {
  height: 800px;
  width: 700px;
  padding-bottom: 50px;
}
.HistoriaMusicales .ContenedorHistoria2 .TituloCancionHistoria, .HistoriaMusicales .ContenedorHistoria2 .ParrafoHistoriaCancion {
  text-align: right;
}
.HistoriaMusicales .ContenedorHistoria3 {
  margin: auto;
  display: flex;
  flex: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slide-left;
}
.HistoriaMusicales .ContenedorHistoria3 .ContenedorimgHistoriaMusical3 {
  display: flex;
  justify-content: center;
}
.HistoriaMusicales .ContenedorHistoria3 .ImgBandaHistoria3 {
  height: 750px;
  width: 500px;
  padding-bottom: 50px;
}
.HistoriaMusicales .ContenedorHistoria3 .TituloCancionContenedor3, .HistoriaMusicales .ContenedorHistoria3 .ParrafoCancionContenedor3, .HistoriaMusicales .ContenedorHistoria3 .AñoContenedorHistoria {
  text-align: center;
}

.ImgBandaHistoria {
  height: 800px;
  width: 600px;
}

.AñoContenedorHistoria {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.ContenedorAñoPublicacion {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

/*footer*/
footer {
  display: block;
  background-color: #5C6D70;
  width: 100%;
  height: 170px;
}

.footerSoda {
  text-align: center;
}

.footerSoda img, p {
  margin-top: 5px;
}

.Logo-Link-footer {
  height: 45px;
}

.RedesSociales {
  display: flex;
  justify-content: center;
}

.footerSocial {
  height: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

/*Encabezado*/
.Logo-Link {
  height: 60px;
}

.NavegarSoda {
  background-color: #5C6D70;
  color: black;
  font-size: 20px;
}

hr {
  height: 80px;
  width: 25%;
  margin: -95px 0;
}

.linkSoda:hover {
  transition: 1s ease;
  background: white;
  border-radius: 55px;
}

.TituloNav {
  font-weight: 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
