@charset "UTF-8";
.presentacion {
  background-color: #04080F;
  color: aliceblue;
}
.presentacion .inicio .TituloHome {
  text-align: center;
  padding: 40px;
  font-size: 60px;
  letter-spacing: 20px;
}
.presentacion .inicio img {
  display: block;
  margin: auto;
  height: 500px;
  width: 900px;
  padding-bottom: 50px;
}
.presentacion .HomeInicio .introducionTitulo {
  padding-bottom: 30px;
  font-size: 40px;
}
.presentacion .HomeInicio .introducionHistoria {
  padding-bottom: 40px;
}
.presentacion .bandaIntroducion {
  height: 700px;
  width: 310px;
  padding: 12% 10px 100px 20px;
}
@media screen and (max-width: 935px) {
  .presentacion .inicio img {
    height: 400px;
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  .presentacion .inicio img {
    height: 300px;
    width: 300px;
  }
}

.MainIntegrantes {
  background-color: #04080F;
  overflow: hidden;
}
.MainIntegrantes .TituloIntegrantes {
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}
.MainIntegrantes .IntegrantesCaja, .MainIntegrantes .IntegrantesCaja2 {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  width: 100%;
}
.MainIntegrantes .IntegrantesCaja2 .IntegrantesTexto {
  flex: 1;
}
.MainIntegrantes .IntegrantesCaja2 .imgIntegrante {
  flex: 1;
}
.MainIntegrantes .imgIntegrante {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}
.MainIntegrantes .IntegrantesTexto {
  padding-top: 40px;
}
@media (max-width: 990px) {
  .MainIntegrantes .IntegrantesCaja2 {
    flex-direction: column;
  }
  .MainIntegrantes .IntegrantesCaja2 .IntegrantesTexto {
    order: 2;
  }
  .MainIntegrantes .IntegrantesCaja2 .imgIntegrante {
    order: 1;
  }
}
@media screen and (max-width: 550px) {
  .MainIntegrantes .TituloIntegrantes {
    font-size: 30px;
  }
}

/*BIOGRAFIA*/
.SectionBiografia {
  background-color: #04080F;
  overflow: hidden;
}
.SectionBiografia .ContenerdorBiografia {
  padding-bottom: 50px;
}

.InicioBiografia {
  text-align: center;
}
.InicioBiografia .TituloBiografia {
  color: white;
  font-size: 60px;
  letter-spacing: 20px;
  padding-bottom: 20px;
}
.InicioBiografia .InicioBiografiaImg {
  height: 400px;
  width: 700px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.ContenerdorBiografia .ImgBiografia {
  height: 300px;
  width: 600px;
}
.ContenerdorBiografia .InfoBiografia {
  color: white;
  padding-top: 90px;
}

.ContenerdorBiografia2 .InfoBiografia2 {
  color: white;
  padding-top: 90px;
}
.ContenerdorBiografia2 .ImgBiografia2 {
  height: 300px;
  width: 600px;
}

.ContenerdorBiografia .ImgBiografiaJuntas {
  height: 300px;
  width: 500px;
  padding: 40px 30px 0px 30px;
}
.ContenerdorBiografia .InfoBiografiaCentral, .ContenerdorBiografia .InfoBiografiaCentral2 {
  color: white;
  padding-top: 40px;
}
@media screen and (max-width: 935px) {
  .InicioBiografia .InicioBiografiaImg {
    height: 300px;
    width: 400px;
  }
  .InicioBiografia .TituloBiografia {
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
    padding-bottom: 10px;
  }
  .ContenerdorBiografia2 .ImgBiografia2 {
    height: 300px;
    width: 400px;
  }
  .ContenerdorBiografia .ImgBiografia {
    height: 300px;
    width: 400px;
  }
  .ContenerdorBiografia .ImgBiografiaJuntas {
    height: 300px;
    width: 400px;
  }
}
/*HITS*/
.SectionHits {
  background-color: #04080F;
}

.ContenedorHitGeneral {
  overflow: hidden;
}
.ContenedorHitGeneral .ContenedorHit3 {
  text-align: center;
}
.ContenedorHitGeneral .ContenedorHit3 .ParrafoMusical {
  padding-bottom: 40px;
}
.ContenedorHitGeneral .ContenedorHit3 .ImgHits {
  width: 900px;
}
.ContenedorHitGeneral .ContenedorHit5 {
  padding-bottom: 40px;
}

.ContenedorHit2 {
  display: flex;
}
.ContenedorHit2 .CajaHit2 {
  flex: 1;
}
.ContenedorHit2 .CajaImgHit2 {
  flex: 1;
}

.ContenedorHit5 {
  display: flex;
}
.ContenedorHit5 .CajaHit5 {
  flex: 1;
}
.ContenedorHit5 .CajaImgHit5 {
  flex: 1;
}

.TitulosHits .TituloHits {
  text-align: center;
  color: white;
  padding: 40px 0px 40px 0px;
  font-size: 60px;
  letter-spacing: 20px;
}

.ImgHits {
  height: 400px;
  width: 600px;
  padding: 20px 90px 20px 90px;
}

.TituloMusical {
  color: white;
  font-size: 50px;
  padding-top: 90px;
}

.ParrafoMusical {
  color: white;
  padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  .ImgHits {
    height: 300px;
    width: 400px;
    padding: 0;
  }
  .ContenedorHitGeneral .ContenedorHit3 .ImgHits {
    width: 400px;
    padding-top: 40px;
  }
  .ContenedorHit2 {
    flex-direction: column;
  }
  .ContenedorHit2 .CajaHit2 {
    order: 2;
  }
  .ContenedorHit2 .CajaImgHit2 {
    order: 1;
  }
  .ContenedorHit5 {
    flex-direction: column;
  }
  .ContenedorHit5 .CajaHit5 {
    order: 2;
  }
  .ContenedorHit5 .CajaImgHit5 {
    order: 1;
  }
}
/*HISTORIA MUSICALES*/
.HistoriaMusicales {
  background-color: #04080F;
  color: white;
  overflow: hidden;
}
.HistoriaMusicales .TituloHM .TituloHistoriaMusical {
  text-align: center;
  font-size: 50px;
  padding: 40px 0 20px 0;
  letter-spacing: 10px;
}
.HistoriaMusicales .TituloHM .ParrafoHistoriaMusical {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.HistoriaMusicales .ContenedorHistoria2 .ImgBandaHistoria2 {
  height: 800px;
  width: 700px;
  padding-bottom: 50px;
}
.HistoriaMusicales .ContenedorHistoria3 .ImgBandaHistoria3 {
  height: 750px;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ImgBandaHistoria {
  padding-left: 20px;
  height: 900px;
  width: 600px;
}

.AñoContenedorHistoria {
  font-size: 30px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.ContenedorAñoPublicacion {
  font-size: 40px;
  padding-top: 20px;
}

@media screen and (max-width: 1315px) {
  .TituloCancionHistoria, .ParrafoHistoriaCancion {
    padding-bottom: 20px;
  }
  .ParrafoCancionContenedor3 {
    padding-bottom: 30px;
  }
  .HistoriaMusicales .ContenedorHistoria3 .ImgBandaHistoria3 {
    height: 850px;
    width: 300px;
  }
  .ImgBandaHistoria {
    height: 1000px;
    width: 500px;
  }
}
@media screen and (max-width: 1200px) {
  .HistoriaMusicales .ContenedorHistoria3 .ImgBandaHistoria3 {
    height: 550px;
    width: 300px;
  }
  .ImgBandaHistoria {
    height: 600px;
    width: 500px;
  }
}
@media screen and (max-width: 700px) {
  .HistoriaMusicales .ContenedorHistoria2 .ImgBandaHistoria2 {
    height: 500px;
    width: 400px;
  }
  .HistoriaMusicales .ContenedorHistoria3 .ImgBandaHistoria3 {
    height: 650px;
    width: 400px;
  }
  .ImgBandaHistoria {
    height: 700px;
    width: 400px;
  }
}
/*footer*/
.footerSoda {
  display: block;
  background-color: #5C6D70;
  width: 100%;
  height: 170px;
  text-align: center;
}

.ContenedorFooter {
  background-color: #5C6D70;
  padding: auto;
  margin: auto;
}

.ListaFooterTerminos, .ListaPaginasFooter {
  list-style: none;
  text-decoration: none;
  text-align: left;
}
.ListaFooterTerminos .ListaTerminos, .ListaPaginasFooter .ListaTerminos {
  padding-bottom: 15px;
}
.ListaFooterTerminos .ListaTerminos .TerminosFooter, .ListaPaginasFooter .ListaTerminos .TerminosFooter {
  text-decoration: none;
  color: white;
}

.TituloFooterTerminos, .TituloFooterTerminosLiks {
  text-align: center;
  font-size: 30px;
  color: black;
  padding-top: 10px;
}

.TituloFooterTerminosLiks {
  font-size: 25px;
}

.ListaPaginasFooter .ListaLinks {
  padding-bottom: 2px;
}
.ListaPaginasFooter .ListaLinks .PaginaFooter {
  text-decoration: none;
  color: white;
  padding-left: 15px;
}

.ListaLinks:hover {
  transition: 0.5s ease;
  background: white;
  border-radius: 15px;
}
.ListaLinks:hover .PaginaFooter:hover {
  color: black;
  transition: 0.5s ease;
}

.ListaFooterTerminos:hover .TerminosFooter:hover, .ListaPaginasFooter:hover .TerminosFooter:hover {
  transition: 1s ease;
  color: black;
}

.footerSoda img, p {
  margin-top: 5px;
}

.Logo-Link-footer {
  height: 45px;
}

.RedesSociales {
  display: flex;
  justify-content: center;
}

.footerSocial {
  height: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 784px) {
  .ListaTerminos {
    text-align: center;
    padding-right: 6%;
  }
  .ListaLinks {
    padding-right: 7%;
    text-align: center;
  }
}
/*Encabezado*/
.Logo-Link {
  height: 60px;
}

.NavegarSoda {
  background-color: #5C6D70;
  color: black;
  font-size: 20px;
}

hr {
  height: 80px;
  width: 25%;
  margin: -95px 0;
}

.linkSoda:hover {
  transition: 1s ease;
  background: white;
  border-radius: 55px;
}

.TituloNav {
  font-weight: 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
