/*BIOGRAFIA*/

.SectionBiografia{
    background-color: #04080F;
    overflow: hidden;  
   
    .ContenerdorBiografia{
        padding-bottom: 50px; 
    }
 
}


.InicioBiografia{
    display: block;
    text-align: center;
    .TituloBiografia{
        color: white; 
        font-size: 60px;
        letter-spacing: 20px;
        padding: 20px 0px 50px 0px;
    }
    .InicioBiografiaImg{
        height: 400px;
        width: 700px;
        padding-top: 70px;
        padding-bottom: 30px;
        
    }
}


.ContenerdorBiografia{
    .ImgBiografia{
        height: 300px;
        width: 600px;
    }
    .InfoBiografia{
        color: white;
        padding-top: 90px;
        
    }

}

.ContenerdorBiografia{
    .InfoBiografia2{
        color: white;
        padding-top: 90px;
    }   
    .ImgBiografia2{
        height: 300px;
        width: 600px;
    }
}


.ContenerdorBiografia{
    .ImgBiografiaJuntas{
        height: 300px;
        width: 500px;
        padding: 40px 30px 0px 30px;
    }
    
    .InfoBiografiaCentral{
        color: white;
        padding-top: 40px;
    }
    
    .InfoBiografiaCentral2{
        @extend .InfoBiografiaCentral;
    }
}

@media screen and (max-width: 550px){
    
}