/*HISTORIA MUSICALES*/

.HistoriaMusicales{
    background-color: #04080F;
    color: white;
    overflow: hidden;

    .TituloHM{

        .TituloHistoriaMusical{
            text-align: center;
            font-size: 50px;
            padding: 40px 0 20px 0;
            letter-spacing: 10px;
        }
        .ParrafoHistoriaMusical{
            font-size: 30px;
            text-align: center;
            padding-bottom: 40px;
            padding-top: 40px;
        }
    
    }


    .ContenedorHistoria2{
        .ImgBandaHistoria2{
            height: 800px;
            width: 700px;
            padding-bottom: 50px;
        }
       
    }
  
    .ContenedorHistoria3{
        .ImgBandaHistoria3{
            height: 750px;
            width: 500px;
            padding-top: 40px;
            padding-bottom: 40px;
        }   
    }

}



.ImgBandaHistoria{
    padding-left: 20px;
    height: 900px;
    width: 600px;
}

.AñoContenedorHistoria{
    font-size: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
}


.ContenedorAñoPublicacion{
    font-size: 40px;
    padding-top: 20px;
}

@media screen and (max-width: 1140px){
    .TituloCancionHistoria,.ParrafoHistoriaCancion{
        padding-bottom: 20px;
    }
    .ParrafoCancionContenedor3{
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 700px){
    .HistoriaMusicales{
        .ContenedorHistoria2{
            .ImgBandaHistoria2{
                height: 500px;
                width: 400px;

            }
           
        }
        .ContenedorHistoria3{
            .ImgBandaHistoria3{
                height: 650px;
                width: 400px;
            }   
        }
    
    }

    .ImgBandaHistoria{
        height: 700px;
        width: 400px;
    }
    
}