/*HISTORIA MUSICALES*/

@mixin Diseño($height,$width){
    height: $height;
    width: $width;
}

.HistoriaMusicales{
    background-color: #04080F;
    color: white;
    overflow: hidden;

    .TituloHM{

        .TituloHistoriaMusical{
            text-align: center;
            font-size: 50px;
            padding: 40px 0 20px 0;
            letter-spacing: 10px;
        }
        .ParrafoHistoriaMusical{
            font-size: 30px;
            text-align: center;
            padding-bottom: 40px;
            padding-top: 40px;
        }
    
    }


    .ContenedorHistoria2{
        .ImgBandaHistoria2{
            @include Diseño(800px,700px);
            padding-bottom: 50px;
        }
       
    }
  
    .ContenedorHistoria3{
        .ImgBandaHistoria3{
            @include Diseño(750px,500px);
            padding-top: 40px;
            padding-bottom: 40px;
        }   
    }

}



.ImgBandaHistoria{
    padding-left: 20px;
    @include Diseño(900px,600px);
}

.AñoContenedorHistoria{
    font-size: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
}


.ContenedorAñoPublicacion{
    font-size: 40px;
    padding-top: 20px;
}

@media screen and (max-width: 1300px){
    .TituloCancionHistoria,.ParrafoHistoriaCancion{
        padding-bottom: 20px;
    }
    .ParrafoCancionContenedor3{
        padding-bottom: 30px;
    }
    .HistoriaMusicales{
        .ContenedorHistoria3{
            .ImgBandaHistoria3{
                @include Diseño(850px,300px);
            }   
        }
    
    }
    .ImgBandaHistoria{
        @include Diseño(1000px,500px);
    }
}

@media screen and (max-width: 1200px){
    .HistoriaMusicales{
        .ContenedorHistoria3{
            .ImgBandaHistoria3{
                @include Diseño(550px,300px);
            }   
        }
    
    }
    .ImgBandaHistoria{
        @include Diseño(600px,500px);
    }
}

@media screen and (max-width: 700px){
    .HistoriaMusicales{
        .ContenedorHistoria2{
            .ImgBandaHistoria2{
                @include Diseño(500px,400px);

            }
           
        }
        .ContenedorHistoria3{
            .ImgBandaHistoria3{
                @include Diseño(650px,400px);
            }   
        }
    
    }

    .ImgBandaHistoria{
        @include Diseño(700px,400px);
    }
    
}