

/*HITS*/

.SectionHits{
    background-color: #04080F;
}


.ContenedorHitGeneral{
    overflow: hidden;
   
    .ContenedorHit3{
        text-align: center;
        .ParrafoMusical{
            padding-bottom: 40px;
        }
        .ImgHits{
            width: 900px;
        }
    }
    .ContenedorHit5{
        padding-bottom: 40px;
    }
}

.ContenedorHit2{
    display: flex;
    .CajaHit2{
        flex: 1;
    }
    .CajaImgHit2{
        flex: 1;
    }
}
.ContenedorHit5{
    display: flex;
    .CajaHit5{
        flex: 1;
    }
    .CajaImgHit5{
        flex: 1;
    }
}


.TitulosHits{
    .TituloHits{
        text-align: center;
        color: white;
        padding: 40px 0px 40px 0px;
        font-size: 60px;
        letter-spacing: 20px;
    }
}


.ImgHits{
    height: 400px;
    width: 600px;
    padding: 20px 90px 20px 90px;
}

.TituloMusical{
    color: white;
    font-size: 50px;
    padding-top: 90px;
}

.ParrafoMusical{
    color: white;
    padding-top: 20px;
    
}

@media screen and (max-width: 1000px){
    .ImgHits{
        height: 300px;
        width: 400px;
        padding: 0;
    }
    .ContenedorHitGeneral{
        .ContenedorHit3{
            .ImgHits{
                width: 400px;
                padding-top: 40px;
            }
        }
    }
    .ContenedorHit2{
        flex-direction: column;
        .CajaHit2{
            order: 2;
        }
        .CajaImgHit2{
            order: 1;
        }
    }
    .ContenedorHit5{
        flex-direction: column;
        .CajaHit5{
            order: 2;
        }
        .CajaImgHit5{
            order: 1;
        }
    }
}