@mixin Diseño($height,$width){
    height: $height;
    width: $width;
}
.presentacion{
    background-color: #04080F;
    color: aliceblue;

    .inicio{
        .TituloHome{
            text-align: center;
            padding: 40px;
            font-size: 60px;
            letter-spacing: 20px;
        }
        img{
            display: block;
            margin: auto;
            @include Diseño(500px,900px);
            padding-bottom: 50px;
        }

    }
    
    .HomeInicio{
        .introducionTitulo{
            padding-bottom: 30px;
            font-size: 40px;
        }
        .introducionHistoria{
            padding-bottom: 40px;
        }
       
    }
    
    .bandaIntroducion{
        @include Diseño(700px,310px);
        padding: 12% 10px 100px 20px;
    }
    @media screen and (max-width: 935px){
        .inicio img{
            @include Diseño(400px,500px);
        }
       
    }
    @media screen and (max-width: 550px){
            .inicio img{
                @include Diseño(300px,300px);
            }
            
    }

}


