.MainIntegrantes{
    background-color: #04080F;
    overflow: hidden;
    .TituloIntegrantes{
        padding-top: 50px;
        color: white;    
        text-align: center;
        font-size: 60px;
        letter-spacing: 10px;
        
    }
    .IntegrantesCaja{
        padding-top: 60px;
        padding-bottom: 60px;
        color: white;
        width: 100%; 
    }

    .IntegrantesCaja2{
        @extend .IntegrantesCaja;
        
        .IntegrantesTexto{
            flex: 1;
        }
        .imgIntegrante{
            flex: 1;
        }
    }

    .imgIntegrante{
        height: 300px;
        width: 300px;
        border-radius: 5px;
    }

    .IntegrantesTexto{
        padding-top: 40px;
    }
    

    @media (max-width: 990px) {
        .IntegrantesCaja2 {
          flex-direction: column;
          .IntegrantesTexto {
            order: 2;
          }
        
          .imgIntegrante {
            order: 1;
          }
        }
      
      
      }

    @media screen and (max-width: 550px){
        .TituloIntegrantes{
            font-size: 30px;
        }
    }
}


