@use './index';
@use './integrantes';
@use './biografia';
@use './hits';
@use './historiaMusicales';
@use './assets/footer';
@use './assets/nav';

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@keyframes slide-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
@keyframes slide-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}