/*Encabezado*/

.Logo-Link{
    height: 60px;
}

.NavegarSoda{
    background-color: #5C6D70;
    color: black;
    font-size: 20px;
}

hr{
    height: 80px;
    width: 25%;
    margin: -95px 0;
    
}


.linkSoda:hover{
    transition: 1s ease;
    background:white;
    border-radius: 55px;
}

.TituloNav{
    font-weight: 100px;
}